.active {
  background-color: aquamarine;
  color: purple;
}

.non-active {
  background-color: yellow;
  color: blue;
}

#block {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
